*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
     scroll-behavior: smooth;
}




body
{
    color: #ededed;
    background-color: rgb(7, 7, 44);
}



.box
{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius:  50%;
    -webkit-border-radius:  50%;
    -moz-border-radius:  50%;
    -ms-border-radius:  50%;
    -o-border-radius:  50%;
    background: rgb(15, 15, 36);
    overflow: hidden;
    box-shadow: 0px 0px 60px #0ef;
}

.box::before
{
    content: ' ';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #0ef, #d400d4 );
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    animation: animator 4s linear infinite;
    -webkit-animation: animator 4s linear infinite;
}

.box:hover::before
{
    inset: -20px 0px;
}

.content
{
    position: absolute;
    inset: 12px;
    border: 10px solid rgb(15, 15, 36);
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
}

.content:hover
{
    border: 10px solid #0ef;
}

.content img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes animator
{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    0%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}

.box::after
{
    content: ' ';
    position: absolute;
    inset: 8px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.box:hover::after
{
    background: rgb(15, 15, 36);
}



.header
{
    position:fixed;
top: 5%;
left: 45%;
width: 60%;
padding: 20px 7%;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
background: rgba(7, 7, 44, 0.205);
}



.logo
{
    align-items: center;
    top: 95px;
    left: 35%;
    position: relative;
    font-size: 60px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    cursor: default;
    opacity: 0;
    letter-spacing: 1px;
    animation: slideRight 1.5s ease forwards;
    -webkit-animation: slideRight 1.5s ease forwards;
    color: #d400d4;
   
}

.logo span
{
    color: #0ef;
}

.navbar a
{
     display: inline-block;
     font-size: 20px;
     color: #fff;
     text-decoration: none;
     font-size: 500;
     margin-left: 20px;
     margin-right: 15px;
     transition: 0.4s;
     -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
     -ms-transition: 0.4s;
     -o-transition: 0.4s;
     animation: slideTop 1.5s ease forwards;
     animation-delay: calc(0.2s*var(--i));
}

.navbar a:hover
{
    color: #081b29;
    padding: 2px 8px;
    background: #0ef;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    display: inline-block;
    font-weight: 400;
}



.home
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url() no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}




.home-content
{
    max-width: 600px;
}

.home-content h3
{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    -webkit-animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2)
{
    margin-bottom: 30px;
    animation: slideTop 1.5s ease forwards;
    animation-delay: 0.8s;
}


.home-content h3 span{
    color: #0ef;
}

.home-content h1
{
    color: #d400d4;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1.5s ease forwards;
    animation-delay: 1.4s;
}

.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1.5s ease forwards;
    -webkit-animation: slideLeft 1.5s ease forwards;
    animation-delay: 1.3s;
}





.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50% ;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s*var(--i));
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.home-sci a:hover
{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px   #0ef;
}




.btn-box
{
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 10%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    -webkit-animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}


.btn-box:hover
{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan 0 0 200px cyan
}


@keyframes slideRight
{
    0% {
        transform: translateX(-100px);
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
}


@keyframes slideTop
{
    0% {
        transform: translateY(100px);
        opacity: 0;
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        opacity: 0;
}
    100% {
        transform: translateY(0px);
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
}


    @keyframes slideBottom
{
    0% {
        transform: translateY(-100px);
        opacity: 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        opacity: 0;
}
    100% {
        transform: translateY(0px);
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
}


@keyframes slideLeft
{
    0% {
        transform: translateX(-100px);
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
}

