
.about
{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
}

.box::after h2
{
    font-size: 60px;
}

.about-text
{
   margin-top: 10%;
}

.about-text h2
{
  margin-top: -5%;
    color:#0ef;
    font-size: 60px;
    margin-left: 40%;
}

.about-text h2 span
{
    color: #d400d4;
   
}

.about-text h4
{
    font-size: 29px;
    font-weight: 600;
    color: #d400d4;
    line-height: 1.7;
    margin-top: 3%;
}

.about-text p
{
    color: #ededed;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}



.btn-box2
{
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 40%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    -webkit-animation: slideTop 1s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}


.btn-box2:hover
{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan 0 0 200px cyan
}

.universe
{
    margin-left: 43%;
    margin-bottom: 3%;
}

.ball {
    position: relative;
    bottom: 50px;
    left: calc(100% - 20px);
    width: 50px;
    height: 50px;
    background: #d400d4;
    border-radius: 50%;
    animation: ball-move8234 3s ease-in-out 1s infinite alternate;
  }
  
  .ball::after {
    position: absolute;
    content: '';
    top: 25px;
    right: 5px;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
  }
  
  .bars {
    width: 200px;
    height: 12.5px;
    background: #0ef;
    border-radius: 30px;
    transform: rotate(-15deg);
    animation: up-down6123 3s ease-in-out 1s infinite alternate;
  }
  
  @keyframes up-down6123 {
    from {
      transform: rotate(-15deg);
    }
  
    to {
      transform: rotate(15deg);
    }
  }
  
  @keyframes ball-move8234 {
    from {
      left: calc(100% - 40px);
      transform: rotate(360deg);
    }
  
    to {
      left: calc(0% - 20px);
      transform: rotate(0deg);
    }
  }